source "/home/vl0011/sdk/esp-idf/components/efuse/Kconfig"
source "/home/vl0011/sdk/esp-idf/components/esp_common/Kconfig"
source "/home/vl0011/sdk/esp-idf/components/esp_hw_support/Kconfig"
source "/home/vl0011/sdk/esp-idf/components/esp_system/Kconfig"
source "/home/vl0011/sdk/esp-idf/components/freertos/Kconfig"
source "/home/vl0011/sdk/esp-idf/components/hal/Kconfig"
source "/home/vl0011/sdk/esp-idf/components/log/Kconfig"
source "/home/vl0011/sdk/esp-idf/components/newlib/Kconfig"
source "/home/vl0011/sdk/esp-idf/components/soc/Kconfig"
source "/home/vl0011/sdk/esp-idf/components/spi_flash/Kconfig"